    RewriteEngine on
    #ssl re-direct
    RewriteCond %{HTTPS} off [OR]
    RewriteCond %{HTTP_HOST} ^www\. [NC]
    RewriteRule ^ https://YOUR-WEBSITE.com%{REQUEST_URI} [L,NE,R=301]

    # Run Php without filename extension - removes .php from webpage in browser url
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.*)$ $1.php
    # Return 404 if original request is .php
    RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
    RewriteRule .* - [L,R=404]